{% load static %}
<html>

<head>
    <title>Ags2Sld</title>
    <link rel="stylesheet" href="{% static 'ags2sld/dist/ags2sld.css' %}">
    <link rel="stylesheet" href="{% static 'ags2sld/dist/vendors-ags2sld.css' %}">
    <style>
        html,
        body {
            margin: 0px;
            height: 100%
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <script src="{% static 'ags2sld/dist/vendors-ags2sld-chunk.js' %}"></script>
    <script src="{% static 'ags2sld/dist/ags2sld.bundle.js' %}"></script>
</body>

</html>